<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CodeFellowship | Profile</title>
</head>
<body>
    <h1>Welcome, <span th:text="${ currentUser.name }"></span></h1>

    <a th:href="@{/index}">Home!</a>
    <a th:href="@{/logout}">Logout!</a>

    <img src="https://via.placeholder.com/150" alt="">
    <ul>
        <li>Name: <span th:text="${ user.getFirstName() }"></span><span th:text="${ user.getLastName() }"></span></li>
        <li>Date of Birth: <span th:text="${ user.getDateOfBirth() }"></span></li>
        <li>Bio: <span th:text="${ user.getBio() }"></span></li>
    </ul>

</body>
</html>