<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodeFellowship</title>
</head>
<body>
    <h1>Signup</h1>
    <hr>
    <form action="/signup" method="POST" style="border:1px solid #ccc">

        <label>
            <b>Username</b>
            <input type="text" placeholder="Enter username" name="username" required>
        </label>

        <label>
            <b>Password</b>
            <input type="password" placeholder="Enter Password" name="password" required>
        </label>

        <label>
            <b>Repeat Password</b>
            <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
        </label>

        <label>
            <b>First Name</b>
            <input type="text" placeholder="Enter first name" name="first-name" required>
        </label>

        <label>
            <b>Last Name</b>
            <input type="text" placeholder="Enter last name" name="last-name" required>
        </label>

        <label>
            <b>Date of Birth</b>
            <input type="date" placeholder="Date of birth" name="dob" required>
        </label>

        <label>
            <b>Biography</b>
            <input type="text" placeholder="Add your bio" name="bio" required>
        </label>

        <button type="submit">Submit</button>
    </form>
</body>
</html>